<template>
    <div class="slds-is-relative">
        <div class="slds-card" style={height}>
            <iframe src={vfpageurl} frameborder="0" height="100%" width="100%" style={height}></iframe>
        </div>
    </div>
</template>